*:not(.caveat, .quicksand, .ssp) {
  font-family: 'Quicksand', sans-serif;
}

header {
  margin: 15px 60px;
}

header {
  margin: 15px 60px;
}

main.main-colour-container {
  text-align: center;
  border: 2px solid #222222;
  padding: 15px;
  margin: 15px 60px;
}

div.colour-container {
  display: inline-block;
  padding: 10px;
  width: 30%;
}

.colour-container.red {
  background-color: #C70039;
  color: #eeeeee;
} 

.colour-container.green {
  background-color: #DAF7A6;
  color: #333333;
}

.colour-container.blue {
  background-color: #3000E5;
  color: #eeeeee;
}

.colour-container.yellow {
  background-color: #FFC300;
  color: #eeeeee;
}

.colour-container.orange {
  background-color: #FF5733;
  color: #eeeeee;
}

.colour-container.violet {
  background-color: #581845;
  color: #eeeeee;
}

h2 {
  text-align: initial;
}

section.main-fonts-container {

  border: 2px solid #222222;
  padding: 15px;
  margin: 15px 60px;
}

div.font-container {
  display: inline-block;
  width: 45%;
  margin: 10px 10px;
  vertical-align: top;
}

p.caveat {
  font-family: 'Caveat', cursive;
  font-size: 18px;
}

p.quicksand {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

p.ssp {
  font-family: 'Source Serif Pro', serif;
  font-size: 18px;
}

.strong {
  font-weight: bold;
}

.emphasis {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

footer.main-footer-container {
  text-align: left;
  border: 2px solid #222222;
  padding: 15px;
  margin: 15px 60px;
}
